<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mystere">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <!-- Push notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.mystere.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.mystere.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
   

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:exported="true" >
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize" 
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" android:exported="true"/>
            <category android:name="android.intent.category.LAUNCHER" android:exported="true"/>
        </intent-filter>
        <intent-filter android:label="filter_react_native">
            <action android:name="android.intent.action.VIEW" android:exported="true"/>
            <category android:name="android.intent.category.DEFAULT" android:exported="true"/>
            <category android:name="android.intent.category.BROWSABLE" android:exported="true"/>
            <!-- <data android:scheme="mystere"  android:host="deeplink"/> -->
        </intent-filter>
      </activity>


      <!-- push Notif -->

      <meta-data  android:name="com.dieam.reactnativepushnotification.notification_channel_name"
                  android:value="mystere_app" android:exported="true"/>
      <meta-data  android:name="com.dieam.reactnativepushnotification.notification_channel_description"
                  android:value="YOUR NOTIFICATION CHANNEL DESCRIPTION" android:exported="true"/>
      <meta-data  android:name="com.dieam.reactnativepushnotification.notification_color"
                  android:resource="@android:color/white" android:exported="true"/>

      <receiver
          android:name="com.google.android.gms.gcm.GcmReceiver"
          android:exported="true"
          android:permission="com.google.android.c2dm.permission.SEND" >
          <intent-filter>
              <action android:name="com.google.android.c2dm.intent.RECEIVE" android:exported="true" />
              <category android:name="com.mystere" />
          </intent-filter>
      </receiver>

      <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" android:exported="true"/>
      <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver" android:exported="true">
          <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED" android:exported="true" />
          </intent-filter>
      </receiver>
      <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationRegistrationService" android:exported="true"/>
      <service
          android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
          android:exported="true" >
      
      </service>
      <service android:name="com.package_name.BackgroundHeadlessTaskService" />

      <!-- End push Notif -->
    
        <service android:name="com.supersami.foregroundservice.ForegroundService" android:foregroundServiceType="location" android:exported="true" ></service>
        <service android:name="com.supersami.foregroundservice.ForegroundServiceTask" android:foregroundServiceType="location" android:exported="true"></service>
        <service android:name="com.asterinet.react.bgactions.RNBackgroundActionsTask" android:exported="true"/>
    </application>
</manifest>
